{% extends 'admin/master.html' %}

{% block body %}
<div class="d-flex justify-content-center align-items-center bg-light" style="min-height: 100vh; padding-top: 80px;">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
    {% if current_user.is_authenticated %}
      <h3 class="text-info text-center mb-3">Chào mừng bạn đến với trang quản trị</h3>
      <h4 class="text-success text-center">Xin chào {{ current_user.name }}</h4>

      <div class="mt-4 text-center">
          <a href="{{ url_for('logout_process') }}" class="btn btn-danger w-100">Đăng xuất tài khoản</a>
      </div>

    {% else %}
      <h3 class="text-success text-center mb-4">Đăng nhập quản trị</h3>
      <form method="post" action="/login?next=/admin">
        <div class="mb-3">
          <label for="student_id" class="form-label">Mã đăng nhập</label>
          <input type="text" class="form-control" name="student_id" placeholder="Mã đăng nhập" required>
        </div>

        <div class="mb-3">
          <label for="pwd" class="form-label">Mật khẩu</label>
          <input type="password" class="form-control" id="pwd" name="password" placeholder="Nhập mật khẩu" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}